<div id="eventFormPage" [ngClass]="{loading: loading}" class="ui left aligned container">
    <div class="ui center aligned container">
        <h2 class="ui header">
            <i class="{{menuOption.icon}} icon"></i>
            <div class="content">
                {{menuOption.name}}
                <div class="sub header">{{menuOption.text}}</div>
            </div>
        </h2>
    </div>
    <form class="ui form" [formGroup]="sourceForm">
        <div class="ui two column grid">
            <div class="noPaddingBottom row">
                <div class="right aligned five wide column noPaddingRight">
                    <label>Código:</label>
                </div>
                <div class="column">
                    <div class="ui input">
                        <input type="text" formControlName="code">
                    </div>
                </div>
            </div>
            <div class="noPaddingBottom row">
                <div class="right aligned five wide column noPaddingRight">
                    <label>Descrição:</label>
                </div>
                <div class="column">
                    <div class="ui fluid input">
                        <input type="text" formControlName="description">
                    </div>
                </div>
            </div>
            <div class="noPaddingBottom row">
                <div class="right aligned five wide column noPaddingRight">
                    <label>Palestrante:</label>
                </div>
                <div class="column">
                    <div class="ui fluid input">
                        <input type="text" formControlName="speaker">
                    </div>
                </div>
            </div>
            <div class="noPaddingBottom row">
                <div class="right aligned five wide column noPaddingRight">
                    <label>Palestrante:</label>
                </div>
                <div class="column">
                    <div class="ui fluid input">
                        <input type="text" formControlName="speaker">
                    </div>
                </div>
            </div>
            <div class="noPaddingBottom row">
                <div class="right aligned five wide column noPaddingRight">
                    <label>Tema:</label>
                </div>
                <div class="column">
                    <div class="ui fluid input">
                        <input type="text" formControlName="theme">
                    </div>
                </div>
            </div>
            <div class="noPaddingBottom row">
                <div class="right aligned five wide column noPaddingRight">
                    <label>Início:</label>
                </div>
                <div class="column">
                    <calendar type="datetime" formControlName="dateStart"></calendar>
                </div>
            </div>
            <div class="noPaddingBottom row">
                <div class="right aligned five wide column noPaddingRight">
                    <label>Fim:</label>
                </div>
                <div class="column">
                    <calendar type="datetime" formControlName="dateEnd"></calendar>
                </div>
            </div>
            <div class="noPaddingBottom row">
                <div class="right aligned five wide column noPaddingRight">
                    <label>Número de vagas:</label>
                </div>
                <div class="column">
                    <div class="ui fluid input">
                        <input type="text" maxlength="5" formControlName="vacancy">
                    </div>
                </div>
            </div>
            <div class="noPaddingBottom row">
                <div class="right aligned five wide column noPaddingRight">
                    <label>Local:</label>
                </div>
                <div class="column">
                    <div class="ui fluid input">
                        <input type="text" formControlName="place">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="right aligned five wide column noPaddingRight">
                    <button class="ui button" (click)="onCancel()">Cancelar</button>
                </div>
                <div class="column">
                    <button class="ui primary button" (click)="onSave()">Salvar</button>
                </div>
            </div>
            <div class="row"></div>
        </div>
    </form>
</div>