<div id="personFormPage" class="ui left aligned container">
    <div class="ui center aligned container">
        <h2 class="ui header">
            <i class="{{menuOption.icon}} icon"></i>
            <div class="content">
                {{menuOption.name}}
                <div class="sub header">{{menuOption.text}}</div>
            </div>
        </h2>
    </div>
    <div class="ui pointing secondary menu" tab>
        <a class="item active" data-tab="first">Pessoa</a>
        <a class="item" data-tab="second">Contatos</a>
    </div>
    <div class="ui tab active" data-tab="first">
        <form class="ui {{loading? ' loading ':''}} form" [formGroup]="sourceForm">
            <div class="ui two column grid">
                <div class="noPaddingBottom row">
                    <div class="right aligned five wide column noPaddingRight">
                        <label>Código*:</label>
                    </div>
                    <div class="column">
                        <div class="ui input">
                            <input type="text" placeholder="Informe um código..." formControlName="code">
                        </div>
                    </div>
                </div>
                <div class="noPaddingBottom row">
                    <div class="right aligned five wide column noPaddingRight">
                        <label>Nome*:</label>
                    </div>
                    <div class="column">
                        <div class="ui fluid input">
                            <input type="text" placeholder="Informe o nome..." formControlName="name">
                        </div>
                    </div>
                </div>
                <div class="noPaddingBottom row">
                    <div class="right aligned five wide column noPaddingRight">
                        <label>Data de nascimento*:</label>
                    </div>
                    <div class="column">
                        <calendar type="date" placeholder="Informe a data de nascimento..." formControlName="birthDate"></calendar>
                    </div>
                </div>
                <div class="noPaddingBottom row">
                    <div class="right aligned five wide column noPaddingRight">
                        <label>CPF*:</label>
                    </div>
                    <div class="column">
                        <div class="ui fluid input">
                            <input type="text" placeholder="Informe o cpf..." formControlName="cpf">
                        </div>
                    </div>
                </div>
                <div class="row"></div>
            </div>
        </form>
        <div class="ui center aligned container">
            <div class="ui form">
                <div class="inline fields">
                    <div class="field">
                        <button class="ui red cancel inverted button" (click)="onCancel()">
                            <i class="remove icon"></i> Cancelar
                        </button>
                    </div>
                    <div class="field">
                        <button class="ui {{sourceForm.invalid? ' disabled ' : ''}} green ok inverted button" (click)="onSave()">
                            <i class="checkmark icon"></i> Salvar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui tab " data-tab="second">
        <modal [control]="this">
            <div class="header">
                Contato
            </div>
            <div class="content">
                <form class="ui form" [formGroup]="sourcePersonContactForm" [ngClass]="{'loading': loading}">
                    <div class="ui two column grid">
                        <div class="noPaddingBottom row">
                            <div class="right aligned five wide column noPaddingRight">
                                <label>Código*:</label>
                            </div>
                            <div class="column">
                                <div class="ui input">
                                    <input type="number" formControlName="code">
                                </div>
                            </div>
                        </div>
                        <div class="noPaddingBottom row">
                            <div class="right aligned five wide column noPaddingRight">
                                <label>Descrição*:</label>
                            </div>
                            <div class="column">
                                <input type="text" formControlName="description">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="actions">
                <button class="ui red cancel inverted button">
                    <i class="remove icon"></i> Cancelar
                </button>
                <button class="ui {{sourcePersonContactForm.invalid? ' disabled ' : ''}} green ok inverted button">
                    <i class="checkmark icon"></i> Salvar
                </button>
            </div>
        </modal>
        <div class="ui right top attached menu">
            <div class="ui right animated button icon item" (click)="onPersonContactNew()">
                <div class="visible content">
                    <i class="large icons">
                        <i class="edit icon"></i><i class="corner add icon"></i>
                    </i>
                </div>
                <div class="hidden content">
                    Novo
                </div>
            </div>
        </div>
        <div class="ui bottom scrolling attached segment" id="listContent">
            <table class="ui fixed single line celled table">
                <thead>
                    <tr>
                        <th>
                            Código
                        </th>
                        <th>
                            Descrição
                        </th>
                        <th>
                            Ações
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let value of source.getValue().contacts; trackBy: index; let idx = index;">
                        <td>
                            {{value.code}}
                        </td>
                        <td>
                            {{value.description}}
                        </td>
                        <td>
                            <a>
                                <i class="write link icon" (click)="editAction(value, idx)"></i>
                            </a>
                            <a>
                                <i class="trash outline link icon" (click)="removeAction(idx)"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>