/* @import "../node_modues/bootstrap/dist/css/bootstrap.min.css"; */

@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "ng2-select.css";
@import "../node_modules/semantic-ui/dist/semantic.min.css";
@import "../node_modules/semantic-ui-calendar/dist/calendar.min.css";
html {
    height: 100%;
}

body {
    margin: 0 0 0 0;
    /*padding: 0.2%;*/
    height: 100%;
    background-color: whitesmoke;
}

.scroll {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.noPaddingBottom {
    padding-bottom: 0px !important;
}

.noPaddingRight {
    padding-right: 0px !important;
}