<div class="ui container" id="loginContent">
    <div class="ui raised very padded container segment" id="loginBox">
        <h3 class="ui center aligned header">Acesso</h3>
        <form class="ui form" [formGroup]="form" (ngSubmit)="doLogin(form.value)">
            <div class="fiveteen wide field">
                <div class="ui pointing below label">Login</div>
                <div class="ui left icon input">
                    <input formControlName="username" placeholder="Informe seu acesso..." type="text">
                    <i class="users icon"></i>
                </div>
            </div>
            <div class="fiveteen wide field">
                <div class="ui pointing below label">Senha</div>
                <div class="ui left icon input">
                    <input formControlName="password" type="password" placeholder="Informe sua senha...">
                    <i class="users icon"></i>
                </div>
            </div>
            <div class="field">
                <button class="ui right floated primary button" type="submit">Entrar</button>
            </div>
        </form>
    </div>
</div>