<div id="eventFormPage">
    <h1>Eventos</h1>
    <form class="ui form" [formGroup]="sourceForm">
        <div class="inline field">
            <label>Local:</label>
            <input type="text" formControlName="place">
            <label>Descrição:</label>
            <input type="text" formControlName="description">
        </div>
        <div class="inline field">
            <label>Início:</label>
            <calendar formControlName="dateStart"></calendar>
            <label>Fim:</label>
            <calendar formControlName="dateEnd"></calendar>
        </div>
        <div class="inline field">
            <label>Início das inscrições:</label>
            <calendar formControlName="dateStartSubscription"></calendar>
            <label>Fim das inscrições:</label>
            <calendar formControlName="dateEndSubscription"></calendar>
        </div>
        <div class="inline field">
            <label>Número de vagas:</label>
            <input type="text" maxlength="5" formControlName="vacancy">
            <div class="ui toggle checkbox">
                <input type="checkbox" tabindex="0" class="hidden" formControlName="waitingList">
                <label>Lista de espera</label>
            </div>
        </div>
    </form>
</div>