<div id="contentBarfooter">
    <div id="contentBarfooter1" class="ui top fixed menu">
        <!-- <a class="item" (click)="openMenuSidebar($event)">
            <i class="sidebar icon"></i> Menu
        </a> -->
    </div>
    <div id="contentBarfooter2" class="ui top fixed menu">
        <!-- <menu-select></menu-select> -->
    </div>
    <div id="contentBarfooter3" class="ui top fixed menu">
        <!-- <div dropdown class="ui right dropdown icon item">
            <i class="user outline icon"></i>
            <div class="menu">
                <div class="item">
                    Minha conta
                </div>
                <div class="divider"></div>
                <div class="item" (click)="logout()">
                    Logout
                </div>
            </div>
        </div> -->
    </div>
</div>