#contentBarTop {
    height: 100%;
    width: 100%;
    position: relative;
    min-height: 39px;
}

#contentBarTop1 {
    height: 100%;
    width: 33.33%;
    float: left;
    position: relative;
}

#contentBarTop2 {
    height: 100%;
    width: 33.33%;
    float: left;
    position: relative;
}

#contentBarTop2 menu {
    float: left;
    width: 99%;
    margin: 0px;
    height: 0px;
}

#contentBarTop3 {
    height: 100%;
    width: 33.33%;
    float: left;
    position: relative;
}