#contentBarTop {
    height: 100%;
    width: 100%;
    position: relative;
    min-height: 39px;
}

#contentBarTop1 {
    height: 100%;
    width: 33.33%;
    float: left;
    position: relative;
}

#contentBarTop2 {
    height: 100%;
    width: 33.33%;
    float: left;
    position: relative;
}

#contentBarTop2 menu-select {
    float: left;
    width: 100%;
    padding: 6px;
    text-align: center
}

#contentBarTop3 {
    height: 100%;
    width: 33.33%;
    float: left;
    position: relative;
}