<div>
    <div id="table">
        <div class="ui right top attached menu">
            <div class="ui right animated button icon item" (click)="onNew()" *ngIf="newAction">
                <div class="visible content">
                    <i class="large icons" *ngIf="currentMenuOption">
                        <i class="{{currentMenuOption.icon}} icon"></i><i class="corner add icon"></i>
                    </i>
                    <i class="add icon" *ngIf="!currentMenuOption"></i>
                </div>
                <div class="hidden content">
                    Novo
                </div>
            </div>
        </div>
        <div class="ui bottom scrolling attached segment" id="listContent">
            <table class="ui sortable selectable celled striped table">
                <thead>
                    <tr>
                        <th *ngFor='let column of columns; trackBy: index;' class="{{column.style}}{{column.hide?' hide ':''}}">
                            {{column.title}}
                        </th>
                        <th class="one wide">Ações</th>
                    </tr>
                </thead>
                <tbody class="scroll">
                    <tr *ngFor="let value of values; trackBy: index;">
                        <!-- Valores que precisam de formatação.  -->
                        <ng-container *ngIf="isFormatValue">
                            <td class="{{column.style}}{{column.hide?' hide ':''}}" *ngFor='let column of columns; trackBy: index;'>
                                {{formatValue(value[column.name])}}
                            </td>
                        </ng-container>

                        <!-- Valores que não precisam de formatação.  -->
                        <ng-container *ngIf="!isFormatValue">
                            <td class="{{column.style}}{{column.hide?' hide ':''}}" *ngFor='let column of columns; trackBy: index;'>
                                {{value[column.name]}}
                            </td>
                        </ng-container>
                        <!-- Coluna de ações da table .  -->
                        <td class="one wide">
                            <a *ngFor='let action of actions; trackBy: index;'>
                                <i class="{{action.icon}} link icon" (click)="action.execute(value)"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
            <div id="tablePagination">
                <sui-pagination [collectionSize]="collectionSize" [maxSize]="maxSize" [hasEllipses]="true" [pageSize]="pageSize" [hasNavigationLinks]="true" [hasBoundaryLinks]="true" [(page)]="selectedPage"></sui-pagination>
            </div>
        </div>
    </div>
</div>