<div>
    <div id="table">
        <table class="ui celled striped table">
            <thead>
                <tr *ngFor='let column of columns; trackBy: index;'>
                    <th colspan="3">
                        {{column.name}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let value of values; trackBy: index;">
                    <ng-container *ngIf="isFormatValue">
                        <td class="collapsing" ngFor='let column of columns; trackBy: index;'>
                            {{formatValue(value[columns[index]])}}
                        </td>
                    </ng-container>


                    <ng-container *ngIf="!isFormatValue">
                        <td class="collapsing" ngFor='let column of columns; trackBy: index;'>
                            {{value[columns[index]]}}
                        </td>
                    </ng-container>
                </tr>
                <tr *ngFor='let action of actions; trackBy: index;'>
                    <td class="collapsing">
                        {{action.name}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <div class="ui segments">
            <div class="ui segment">
                <sui-pagination [collectionSize]="collectionSize" [maxSize]="maxSize" [hasEllipses]="true" [pageSize]="pageSize" [hasNavigationLinks]="true" [hasBoundaryLinks]="true" [(page)]="selectedPage"></sui-pagination>
            </div>
            <div class="ui segment">
                <p>Current page: {{ selectedPage }}</p>
            </div>
        </div>
    </div>
</div>