<div>
    <div id="table">
        <table class="ui sortable selectable celled striped table">
            <thead>
                <tr>
                    <th *ngFor='let column of columns; trackBy: index;' class="{{column.style}}">
                        {{column.title}}
                    </th>
                    <th class="one wide">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let value of values; trackBy: index;">
                    <!-- Valores que precisam de formatação.  -->
                    <ng-container *ngIf="isFormatValue">
                        <td class="{{column.style}}" *ngFor='let column of columns; trackBy: index;'>
                            {{formatValue(value[column.name])}}
                        </td>
                    </ng-container>

                    <!-- Valores que não precisam de formatação.  -->
                    <ng-container *ngIf="!isFormatValue">
                        <td class="{{column.style}}" *ngFor='let column of columns; trackBy: index;'>
                            {{value[column.name]}}
                        </td>
                    </ng-container>
                    <!-- Coluna de ações da table .  -->
                    <td class="one wide">
                        <a *ngFor='let action of actions; trackBy: index;'>
                            <i class="{{action.icon}} link icon" (click)="action.execute(value)"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
    <div id="tablePagination">
        <sui-pagination [collectionSize]="collectionSize" [maxSize]="maxSize" [hasEllipses]="true" [pageSize]="pageSize" [hasNavigationLinks]="true" [hasBoundaryLinks]="true" [(page)]="selectedPage"></sui-pagination>
    </div>
</div>